{% extends ':front:base.html.twig' %}
{% block container %}
    {% if airports|length >0 %}
        <table class="table table-condensed" id="grid-basic">
            <thead>
            <tr>
                <th data-column-id="code">Code</th>
                <th data-column-id="name">Name</th>
                <th data-column-id="country">Country code</th>
            </tr>
            </thead>
            <tbody>
            {% for airport in airports %}
                <tr>
                    <td>{{ airport.code }}</td>
                    <td>{{ airport.name }}</td>
                    <td>{{ airport.countryCode }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No airports are founded!</h2>
    {% endif %}
{% endblock %}

{% block stylesheets_head %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css">
{% endblock %}

{% block javascripts_body %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.fa.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#grid-basic").bootgrid();
        });
    </script>
{% endblock %}