{% extends ':front:base.html.twig' %}
{% block container %}

    <h2>Trip Builder</h2>
    <p>I tried to do all the points from SMALL BONUSES & TECHNICAL BONUSES.</p>
    <p>I used PhpStorm as IDE, Symfony as framework, POSTMAN for testing the api, xDebug for debugging.</p>
    <p>The project is version controlled</p>
    <p>For deploy I used <a href="https://www.deployhq.com/">DeployHq</a> and it's very easy to deploy. I used a VPS for deploy server.</p>
    <hr>
    <h4>Limitations of this Front end interface</h4>
    <ul>
        <li><a href=" {{ path('client_airports') }}">Airport list</a> lists all the airports, so it will take some seconds to display</li>
        <li><a href=" {{ path('client_trip_list') }}">List flights</a> display all flights for trip with id=7. You can change it in address bar.</li>
        <li><a href=" {{ path('client_trip_remove') }}">Remove flights</a> will update the flights for trip with id=7</li>
        <li>The number of flights for a trip it's limited at 2. But the API it's unlimited.</li>
        <li>The front end doesn't have any validations. It's very primitive</li>
    </ul>
{% endblock %}

