{% extends ':front:base.html.twig' %}
{% block container %}
    <h1>Trip creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" value="Create" />
    {{ form_end(form) }}


{% endblock %}