{% extends ':front:base.html.twig' %}
{% block container %}
    {% if airports|length >0 %}
    <h1>List of flights</h1>
        <table class="table table-condensed">
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Country code</th>
        </tr>
        </thead>
        <tbody>
        {% for airport in airports %}
        <tr>
            <td>{{ airport.code }}</td>
            <td>{{ airport.name }}</td>
            <td>{{ airport.country_code }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>No flights are founded!</h2>
    {% endif %}
{% endblock %}